.artical{
    border: 10px solid black;
    background-color: rgb(110, 109, 23);
    margin: 40px;
    width: 500px;
    box-shadow: -10px -50px 0px gray ;
}

.header{
    height: 100px;
    
    background-image: url('ansis.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}