.blog{
background-color: palevioletred;}

h2{
    text-decoration: underline;
}
#seacond-blog{
    background-color: rgb(255, 123, 0);
    /* display: none; */
visibility: hidden;}

#minamun{
    color: red;
    border: 4px solid burlywood;
    width: 500px;
   
    display: block;
}
li{
    display: inline;
}